<% provide(:title, @author.first_name + " " + @author.last_name) %>
<div class="jumbotron">
    <div class="container">
        <h2><%= @author.first_name %> <%= @author.last_name %></h2>    
        <p><i><%= @author.bio %></i></p>
        <%= link_to 'Add new book', new_book_path(@author.id)%>
    </div>
</div>
<div class="container">
    <h2>Books</h2>
    <% if @books_any %>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <strong>Title</strong>
                    </th>
                    <th>
                        <strong>Year</strong>
                    </th>
                    <th>
                        <strong>Genre</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @books.each do |b| %> 
                    <tr>
                        <td>
                            <i><%= b.title %></i>
                        </td>
                        <td>
                            <i><%= b.year %></i>
                        </td>
                        <td>
                            <i><%= b.genre %></i>
                        </td>                  
                        <td>
                            <%= link_to 'Show', book_path(b), class: 'btn btn-info btn-sm'  %>
                        </td>
                        <td>
                            <%= link_to "Delete", book_path(b), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <p><i>No books, yet</i></p>
    <% end %>
</div>



