 <header class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %><strong>Library</strong><% end %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Books', books_index_path %></li>
      <li><%= link_to 'Authors', authors_index_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to sign_in_path do %><span class="glyphicon glyphicon-log-in"></span> Sign In<% end %></li>        
    </ul>
  </div>
</header> 