<% provide(:title, @book.title) %>
<div class="container">
    <div class="page-header">
        <h1><%= @book.title %></h1>      
    </div>
    <h3><i><%= @book.genre %></i></h3>
    <h4><%= @book.year %></h4>
    <p><i><%= @book.plot %></i></p>  
    <hr>
    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary btn-sm' %>   
</div>


