 <header class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>Library</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <%# TODO: Home href %>
      <li><%= link_to 'Home', '#' %></li>
      <%# TODO: Books href %>
      <li><%= link_to 'Books', '#' %></li>
      <%# TODO: Authors href %>
      <li><%= link_to 'Authors', '#' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%# TODO: Sign in href %>
      <li><%= link_to '#' do %><span class="glyphicon glyphicon-user"></span> Sign Up<% end %></li>
      <%# TODO: Login href %>
      <li><%= link_to '#' do %><span class="glyphicon glyphicon-log-in"></span> Login<% end %></li>
    </ul>
  </div>
</header> 